
.login{
    margin-top: 6%;
    margin-left: 34%;
    width: 600px;
    background-color: rgb(55, 65, 150);
    border: 2px solid rgb(55, 65, 150);
    border-radius: 50px;   
    min-height: 600px;
    height: auto;
    position: relative;
    text-align: center;
}

.hubpng{
    margin-left: 36%;
    width: 150px;
}

.toregister{
    margin-top: 3%;
    width: 120px;
    margin-left: 75%;
    background-color: rgb(91, 91, 240);
    color: rgb(200, 205, 229);
    font-size: 18px;
    border-radius: 8px;
    padding: 12px;
}

.toregister:hover{
    background-color: rgb(47, 47, 110);
}

