#lbl{
    margin-left: 80px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.inputarea{
    width: 250px;
    height: 40px;
    border: 2px solid green;
    border-radius: 0.5px;
    margin-bottom: 10px;
    padding-left: 10px;
    margin-top: 10px;
}

.errorarea{
    width: 250px;
    height: 40px;
    border: 2px solid rgb(255, 22, 22);
    border-radius: 0.5px;
    margin-bottom: 10px;
    padding-left: 10px;
    
}



.errMsg {
    margin-left: 0%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    text-align: center;
    font-weight: 30;
    color: white;
    display: inline-block;
    color: #c90000;
    animation: 2s shake infinite alternate;

  }
  
  @keyframes shake {
    0% { transform: skewX(-15deg); }
    5% { transform: skewX(15deg); }
    10% { transform: skewX(-15deg); }
    20% { transform: skewX(15deg); }
    40% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }  
  }