
.login{
    text-align: center;
    margin-top: 100px;
    margin-left: 600px;
    width: 600px;
    background-color: rgb(55, 65, 150);
    border: 2px solid rgb(55, 65, 150);
    border-radius: 50px;   
    min-height: 600px;
    height: auto;
    position: relative;

}

.hubpng{
    width: 150px;
}